<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Template</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <br>
    <h3 align="center"><a href="/book/template">Book</a></h3>
    <h3 align="center"><a href="/publisher/template">Publisher</a></h3>
    <br>
    <div align="center">
        <h1>Register an Author</h1>
        <form th:action="@{/author/register}" th:object="${author}" method="POST">
            <label>Name: </label>
            <input type="text" name="name" required/>
            <br>
            <br>
            <label>Phone: </label>
            <input type="text" name="phone" required/>
            <br>
            <br>
            <label>E-Mail: </label>
            <input type="text" name="email" required/>
            <br>
            <br>
            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div align="center">
        <table>
            <h1>Authors</h1>
        
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>E-Mail</th>
            </tr>
        
            <tr th:each="author : ${authors}">
                <td th:text="${author.id}"></td>
                <td th:text="${author.name}"></td>
                <td th:text="${author.phone}"></td>
                <td th:text="${author.email}"></td>
            </tr>
        </table>
    </div>
    <br>
</body>
</html>