<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <div align="center">
        <h1 align="center"><a href="/">Menu</a></h1>
        <br>
        <h3 align="center"><a href="/author/template">Author</a></h3>
        <h3 align="center"><a href="/publisher/template">Publisher</a></h3>
        <h3 align="center"><a href="/book/template">Return</a></h3>
        <br>
        <h3>Book Details</h3>
        <br>
        <b>ID: </b><span th:text="${book.id}"></span>
        <br>
        <b>Name: </b><span th:text="${book.name}"></span>
        <br>
        <b>Category: </b><span th:text="${book.category}"></span>
        <br>
        <b>Published: </b><span th:text="${book.published}"></span>
        <br>
        <br>
        <h2>Authors</h2>
        <br>
        <div align="center">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                </tr>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.id}"></td>
                    <td th:text="${author.name}"></td>
                    <td th:text="${author.email}"></td>
                    <td th:text="${author.phone}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>