<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <h3 align="center"><a href="/book/register">Register</a></h3>
    <br>
    <div align="center">
        <table>
            <h1>Books</h1>
        
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Published</th>
            </tr>
        
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.category}"></td>
                <td th:text="${book.published}"></td>
            </tr>
        </table>
    </div>
    <br>
</body>
</html>