<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Template</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <br>
    <h3 align="center"><a href="/author/template">Author</a></h3>
    <h3 align="center"><a href="/publisher/template">Publisher</a></h3>
    <br>
    <div align="center">
        <H1>Register a Book</H1>
        <form th:action="@{/book/register}" th:object="${book}" method="POST">
            <label>Name: </label>
            <input type="text" name="name" required/>
            <br>
            <br>
            <label>Category: </label>
            <input type="text" name="category" required/>
            <br>
            <br>
            <label>Published: </label>
            <input type="date" name="published" required/>
            <br>
            <br>
            <label>Publisher: </label> 
                <select th:field="${book.publisher}" required>
                    <option value=""></option>
                    <option th:each="publisher : ${publishers}" 
                            th:value="${publisher.id}" 
                            th:text="${publisher.name}">
                    </option>
                </select>
            <br>
            <br>
            <!--
            <label>Author: </label> 
                <select th:field="${book.author}">
                    <option value=""></option>
                    <option th:each="author : ${authors}" 
                            th:value="${author.id}" 
                            th:text="${author.name}">
                    </option>
                </select>
            <br>
            <br>
            -->
            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div align="center">
        <table>
            <h1>Books Registered</h1>
        
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Published</th>
                <th>Publisher</th>
                <th>Author</th>
            </tr>
        
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.category}"></td>
                <td th:text="${book.published}"></td>
                <td th:text="${book.publisher?.name}"></td>
                <!--<td th:text="${book.author?.name}"></td>-->
            </tr>
        </table>
    </div>
    <br>
</body>
</html>