<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <div align="center">
        <form action="#" th:action="@{/book/register}" th:object="${book}" method="POST">
            <table>
                <H1>Register Book</H1>

                <tr>
                    <td>Name: </td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                    <p></p>
                </tr>
            </table>
            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
</body>
</html>